body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
}
nav {
    background-color: #ddd;
    padding: 5px;
}
.navbar {
    display: none;
}
.reveal-button {
    background: #ffffff url("../img/menu-icon.png") no-repeat;
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
    border: none;
    opacity: 0.75;
    margin: 10px 0;
}
.reveal-button:hover {
    opacity: 1;
}
.reveal-button:focus {
    outline: none;
}
.menu-item {
    display: inline-flex;
    color: #344567;
    margin-right: 50px;
    list-style: none;
}
.menu-item a {
    color: #252;
    text-decoration: none;
}
.menu-item a:hover {
    color: #fff;
}
.list {
    margin: 15px 0;
    padding: 0;
}
.item:first-child {
    border-top: 1px solid #77f;
}
.item {
    list-style: none;
    background-color: #ccf;
    padding: 5px;
    width: 400px;
    border: 1px solid #77f;
    border-top: 0px;
    word-wrap: break-word;
}